/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 feb 2022, 13:53:54
    Author     : Estudios
*/

/* Fondo del cuerpo principal */

body {
   background-color: #1E4063;   
}

#pecera {
  width: 90%;
  height: 100%;    
  position: absolute;  
  margin: 0;
  padding: 0;      
}

/* Clase burbuja */
/* Las burbujas tienen dferentes formas */
.burbuja1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 200px;
  left: 100px;
  background-color: #E7FEFF;  
  opacity:0.75;
  box-shadow: inset 8px 5px 8px 3px rgba(30, 64, 99, 0.50);
  animation: burbujeo 18s linear infinite;
  z-index:5;
}

.burbuja2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius:50%;
  top: 175px;
  left: 150px;
  background-color: #E7FEFF;  
  opacity:0.60;
  box-shadow: inset 8px 5px 8px 3px rgba(30, 64, 99, 0.70);
  animation: burbujeo 25s linear infinite;
  z-index:5;
}
.burbuja3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius:50%;
  top: 175px;
  left: 900px;
  background-color: #E7FEFF; 
  opacity:0.85;
  box-shadow: inset 8px 5px 8px 3px rgba(30, 64, 99, 0.75);
  animation: burbujeo 23s linear infinite;
  z-index:5;
}
.burbuja4 {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius:50%;
  top: 75px;
  left: 300px;
  background-color: #E7FEFF;  
  opacity:0.75;
  box-shadow: inset 5px 5px 8px 2px rgba(30, 64, 99, 0.90);
  animation: burbujeo 15s linear infinite;
  z-index:5;
}
.burbuja5 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius:50%;
  top: 50px;
  left: 325px;
  background-color: #E7FEFF;  
  opacity:0.60;  
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.40);
  animation: burbujeo 20s linear infinite;
  z-index:5;
}
.burbuja6 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius:50%;
  top: 300px;
  left: 350px;
  background-color: #E7FEFF;  
  opacity:0.40;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.50);
  animation: burbujeo 28s linear infinite;
  z-index:5;
}
.burbuja7 {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius:50%;
  top: 75px;
  left: 375px;
  background-color: #E7FEFF;  
  opacity:0.65;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.70);
  animation: burbujeo 8s linear infinite;
  z-index:5;
}
.burbuja8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 325px;
  left: 400px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.50);
  animation: burbujeo 10s linear infinite;
  z-index:5;  
}
.burbuja9 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius:50%;
  top: 50px;
  left: 425px;
  background-color: #E7FEFF;  
  opacity:0.40;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.60);
  animation: burbujeo 14s linear infinite;
  z-index:5;  
}
.burbuja10 {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius:50%;
  top: 325px;
  left: 700px;
  background-color: #E7FEFF;  
  opacity:0.50;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.50);
  animation: burbujeo 10s linear infinite;
  z-index:5;  
}
.burbuja11 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius:50%;
  top: 200px;
  left: 1100px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.65);
  animation: burbujeo 10s linear infinite;
  z-index:5;  
}
.burbuja12 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 20px;
  left: 800px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.70);
  animation: burbujeo 9s linear infinite;
  z-index:5;  
}
.burbuja13 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius:50%;
  top: 75px;
  left: 1000px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.55);
  animation: burbujeo 11s linear infinite;
  z-index:5;  
}
.burbuja14 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius:50%;
  top: 80px;
  left: 1200px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.75);
  animation: burbujeo 15s linear infinite;
  z-index:5;  
}
.burbuja15 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 80px;
  left: 1500px;
  background-color: #E7FEFF;  
  opacity:0.70;
  box-shadow: inset 5px 5px 8px 8px rgba(30, 64, 99, 0.50);
  animation: burbujeo 8s linear infinite;
  z-index:5;  
}


/* Peces */
.atunes {
  background-image:url(http://adopta1metrodemar.alianzamarblava.org/bundles/adopta1m2oceano/images/especies-animales/atun.rojo.grupo.png);
  position:absolute;
  top: 150px;
  left: -800px;
  width: 525px;
  height: 225px;
  animation: nado_atunes 15s linear infinite;
}

/* Animaciones */
@keyframes burbujeo {
  0% {transform:translateY(400px);}
  100% {transform:translateY(50px);}
}

@keyframes nado_atunes {
  0% {transform:translateX(50px);}
  100% {transform:translateX(1500px);}
}


